@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
}

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}

.user-icon {
  width: 30px;
  border-radius: 100%;
}

.sidebar-nav {
  width: var(--offcanvas-width) !important;
}

.sidebar-link .right-icon {
  transition: all 0.2s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.profile-pic {
  position: absolute;
  right: 0px;
  width: 38px;
  bottom: 0px;
  border-radius: 0px 6px 6px 0;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .offcanvas-backdrop {
    display: none !important;
  }

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: var(--topNavbarHeight) !important;
    /*height: calc(100% - var(--offcanvas-width)) !important;*/
  }

  main {
    margin-left: var(--offcanvas-width);
  }
}


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 535px;
  width: 50%;
  height : 25%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

.input-group {
  position: absolute; /* To position it relative to its nearest positioned ancestor (modal body) */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* This will center the input-group both horizontally and vertically */
  display: flex;
  flex-wrap: wrap;
  width: 80%; /* Adjust width as per requirement */
  justify-content: center; /* Ensures the button and input are centered */
}