<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="order">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" th:href="@{/css/dataTables.bootstrap5.min.css}" />
	<link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" href="css/order.css" th:href="@{/css/order.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>\
	<script type="text/javascript" href="js/angular.js" th:src="@{js/angular.js}"></script>
	<script src="/js/order.js" th:src="@{js/order.js}"></script>
	<title>Welcome to Plant Ropan</title>
</head>

<body ng-controller="orders">
	<!--  header.html  -->
	<div th:include="header :: nav-bar"></div>

	<!--  side nav bar  -->
	<div th:include="sideNavbar :: sidenav-bar"></div>

	<main class="mt-5 pt-3">
		<div class="container-fluid">

			<div class="select-container">
				<div class="row mt-5">
					<div class="col-md-12">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							<!-- <li class="nav-item" role="presentation">
								<button class="nav-link  active" id="pending-order" data-bs-toggle="tab"
									data-bs-target="#pending-order-pane" type="button" role="tab"
									aria-controls="pending-order-pane" aria-selected="true">
									Pendings Orders</button>
							</li> -->
							<li class="nav-item" role="presentation">
								<button class="nav-link active" id="accpeted-order" data-bs-toggle="tab"
									data-bs-target="#accpeted-order-pane" type="button" role="tab"
									aria-controls="accpeted-order-pane" aria-selected="false">Accpeted Orders </button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link " id="completed-order" data-bs-toggle="tab"
									data-bs-target="#completed-order-pane" type="button" role="tab"
									aria-controls="completed-order-pane" aria-selected="false">Completed Orders
								</button>
							</li>

							<li class="nav-item" role="presentation">
								<button class="nav-link " id="rejected-order" data-bs-toggle="tab"
									data-bs-target="#rejected-order-pane" type="button" role="tab"
									aria-controls="rejected-order-pane" aria-selected="false">Rejected Orders </button>
							</li>
						</ul>

						<div class="tab-content" id="myTabContent">
							<!-- <div class="tab-pane fade show active" id="pending-order-pane" role="tabpanel"
								aria-labelledby="pending-order" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">Order ID</th>
												<th scope="col">Customer Details</th>
												<th scope="col">Maali Details</th>
												<th scope="col">Plan Details</th>
												<th scope="col">Order Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="pendingOrders.length === 0">
												<td colspan="4" class="text-center">{{ pendingMessage || 'No pending
													orders available.' }}</td>
											</tr>
											<tr ng-repeat="order in pendingOrders">
												<td>{{ order.OrderNumber }}</td>
												<td>{{ order.customerName }}<br>{{ order.customerPhone }}</td>
												<td>{{ order.maaliName }}<br>{{ order.maaliPhone }}</td>
												<td>{{ order.planName }}<br>{{ order.planAmount }}</td>
												<td>{{ order.order_Status }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> -->

							<div class="tab-pane fade show active" id="accpeted-order-pane" role="tabpanel"
								aria-labelledby="accpeted-order" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">Order ID</th>
												<th scope="col">Customer Details</th>
												<th scope="col">Maali Details</th>
												<th scope="col">Plan Details</th>
												<th scope="col">Order Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="accpetedOrders.length === 0">
												<td colspan="4" class="text-center">{{ accpetedMessage || 'No Accpeted
													orders available.' }}</td>
											</tr>
											<tr ng-repeat="order in accpetedOrders">
												<td>
													<a data-bs-toggle="modal" data-bs-target="#viewOrdersDetails"
														ng-click="getOrderDetails(order.OrderNumber)">
														{{ order.OrderNumber }}
												</td>
												<td>{{ order.CustomerDetails }}</td>
												<td>{{ order.MaaliDetails }}</td>
												<td>{{ order.PlansDetails }}</td>
												<td>{{ order.order_status }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-pane fade" id="completed-order-pane" role="tabpanel"
								aria-labelledby="completed-order" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">Order ID</th>
												<th scope="col">Customer Details</th>
												<th scope="col">Maali Details</th>
												<th scope="col">Plan Details</th>
												<th scope="col">Order Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="completedOrders.length === 0">
												<td colspan="4" class="text-center">{{ completedMessage || 'No orders
													completed available.' }}</td>
											</tr>
											<tr ng-repeat="order in completedOrders">
												<td>
													<a data-bs-toggle="modal" data-bs-target="#viewOrdersDetails"
														ng-click="getOrderDetails(order.OrderNumber)">
														{{ order.OrderNumber }}
												</td>
												<td>{{ order.CustomerDetails }}</td>
												<td>{{ order.MaaliDetails }}</td>
												<td>{{ order.PlansDetails }}</td>
												<td>{{ order.order_status }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="tab-pane fade" id="rejected-order-pane" role="tabpanel"
								aria-labelledby="rejected-order" tabindex="0">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">Order ID</th>
												<th scope="col">Customer Details</th>
												<th scope="col">Maali Details</th>
												<th scope="col">Plan Details</th>
												<th scope="col">Order Status</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-if="rejectedOrders.length === 0">
												<td colspan="4" class="text-center">{{ rejectedMessage || 'No orders
													Rejected available.' }}</td>
											</tr>
											<tr ng-repeat="order in rejectedOrders">
												<td>
													<a data-bs-toggle="modal" data-bs-target="#viewOrdersDetails"
														ng-click="getOrderDetails(order.OrderNumber)">
														{{ order.OrderNumber }}
												</td>
												<td>{{ order.CustomerDetails }}</td>
												<td>{{ order.MaaliDetails }}</td>
												<td>{{ order.PlansDetails }}</td>
												<td>{{ order.order_status }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div class="modal fade" id="viewOrdersDetails" tabindex="-1" aria-labelledby="viewOrdersDetailsLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="viewOrdersDetailsLabel">View Order Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body" ng-if="orderDetails.data">

					<h6 class="mb-3"><strong>Order Info</strong></h6>
					<div class="row">
						<div class="col-12 text-center mb-3">
							<div class="bg-light rounded p-3 d-inline-block shadow-sm">
								<strong class="text-success fs-5">Order ID:</strong>
								<span class="fw-bold text-success">{{ orderDetails.data.orderId }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6"><strong>Coupon Applied:</strong> {{ orderDetails.data.couponApplied ?
							'Yes' : 'No' }}</div>
						<div class="col-md-6"><strong>Offer Code:</strong> {{ orderDetails.data.offerCode }}</div>
						<div class="col-md-6"><strong>Created At:</strong> {{ orderDetails.data.createdAt |
							date:'medium' }}</div>
						<div class="col-md-6"><strong>Status:</strong> {{ orderDetails.data.orderStatus }}</div>
						<div class="col-md-6"><strong>Share Code:</strong> {{ orderDetails.data.shareCode }}</div>
						<div class="col-md-12"><strong>Address:</strong> {{ orderDetails.data.address }}</div>
						<div class="col-md-6"><strong>Latitude:</strong> {{ orderDetails.data.latitude }}</div>
						<div class="col-md-6"><strong>Longitude:</strong> {{ orderDetails.data.longtitude }}</div>
						<div class="col-md-6"><strong>Distance Travelled:</strong> {{ orderDetails.data.km | number:2 }}
							km</div>
					</div>

					<hr />

					<h6 class="mb-3"><strong>Payment Info</strong></h6>
					<div class="row">
						<div class="col-md-6"><strong>Method:</strong> {{ orderDetails.data.payment.paymentMethod }}
						</div>
						<div class="col-md-6"><strong>Status:</strong> {{ orderDetails.data.payment.paymentStatus }}
						</div>
						<div class="col-md-6"><strong>Paid On:</strong> {{ orderDetails.data.payment.createdAt |
							date:'medium' }}</div>
					</div>

					<hr />

					<h6 class="mb-3"><strong>Plan Details</strong></h6>
					<div class="row">
						<div class="col-md-6"><strong>Name:</strong> {{ orderDetails.data.plans.plansName }}</div>
						<div class="col-md-6"><strong>Price:</strong> ₹{{ orderDetails.data.plans.plansRs }}</div>
						<div class="col-md-6"><strong>Duration:</strong> {{ orderDetails.data.plans.timeDuration }}
						</div>
						<div class="col-md-6"><strong>Includes:</strong> {{
							orderDetails.data.plans.includingServicesName }}</div>
						<div class="col-md-6"><strong>Type:</strong> {{ orderDetails.data.plans.planType }}</div>
						<div class="col-md-6"><strong>Pack:</strong> {{ orderDetails.data.plans.planPacks }}</div>
						<div class="col-md-6"><strong>Upto Pots:</strong> {{ orderDetails.data.plans.uptoPots }}</div>
					</div>

					<hr />



					<h6 class="mb-3"><strong>Customer Details</strong></h6>
					<div class="row">
						<div class="col-md-6"><strong>Name:</strong> {{ orderDetails.customerDetais.CusFirstName }}
							{{ orderDetails.customerDetais.CuslastName }}</div>
						<div class="col-md-6"><strong>Mobile:</strong> {{ orderDetails.customerDetais.CusMobileNu
							}}</div>
						<div class="col-md-12"><strong>Address:</strong> {{ orderDetails.customerDetais.CusAddress
							}}</div>
					</div>

					<hr />

					<h6 class="mb-3"><strong>Maali Details</strong></h6>
					<div class="row">
						<div class="col-md-6"><strong>Name:</strong> {{ orderDetails.maaliDetais.firstName }} {{
							orderDetails.maaliDetais.lastName }}</div>
						<div class="col-md-6"><strong>Mobile:</strong> {{ orderDetails.maaliDetais.mobileNu }}
						</div>
						<div class="col-md-12"><strong>Address:</strong> {{ orderDetails.maaliDetais.address }}
						</div>
					</div>

					<div ng-if="orderDetails.data.workCompletedPhoto.length > 0">
						<h6><strong>Work Completed Photos</strong></h6>
						<div class="row" ng-repeat="photo in orderDetails.data.workCompletedPhoto">
							<div class="col-md-6 mb-3">
								<div>
									<img ng-src="{{ displayedPhotos['photo1_' + photo.primary_key] }}"
										alt="Work Photo 1" class="img-fluid border rounded" />
								</div>
							</div>

							<div class="col-md-6 mb-3">
								<div>
									<img ng-src="{{ displayedPhotos['photo2_' + photo.primary_key] }}"
										alt="Work Photo 2" class="img-fluid border rounded" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>



</body>

</html>