<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="viewService">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css" th:href="@{/css/dataTables.bootstrap5.min.css}" />
	<link rel="stylesheet" href="css/dashboard.css" th:href="@{/css/dashboard.css}" />
	<link rel="stylesheet" href="css/viewService.css" th:href="@{/css/viewService.css}" />
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/1c26fb5c51.js" th:src="@{js/1c26fb5c51.js}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
		href="js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.15/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" href="js/angular.js" th:src="@{js/angular.js}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ui-router/1.0.0-beta.3/angular-ui-router.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.29/angular-ui-router.min.js"></script>

	<script src="/js/viewService.js" th:src="@{js/viewService.js}"></script>
	<script src="/js/viewPlans.js" th:src="@{js/viewPlans.js}"></script>

	<!-- <script src="/js/RouterLink.js" th:src="@{js/RouterLink.js}"></script> -->

	<title>Welcome to Plant Ropan</title>
</head>

<body ng-controller="viewServiceCont">
	<!--  header.html  -->
	<div th:include="header :: nav-bar"></div>

	<!--  side nav bar  -->
	<div th:include="sideNavbar :: sidenav-bar"></div>

	<main class="mt-5 pt-3" ng-show="showServiceSection">
		<div class="container-fluid">
			<!-- Cards -->
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<!-- Add Offers-->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#addServiceName">
								Add Service Name
							</button>
						</div>

						<div class="card-body">
							<div class="select-container">
								<div class="table-responsive">
									<table class="table table-responsive table-striped">
										<thead class="table-dark">
											<tr>
												<th scope="col">Service Name</th>
												<th scope="col">Is Active</th>
												<th scope="col">Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="viewServiceDatas in viewServiceData">
												<td>
													<a href="" ng-click="getServiceByPlan(viewServiceDatas.primaryKey)">
														{{viewServiceDatas.name}}
												</td>
												<td>{{ viewServiceDatas.active }}</td>
												<td>
													<button type="button" class="btn" title="Approved Service Name"
														ng-click="handleAction(viewServiceDatas.primaryKey, 'like')">
														<i class="fa-regular fa-thumbs-up" style="font-size: 16px;"></i>
													</button>
													<button type="button" class="btn" title="Dis Approved Service Name"
														ng-click="handleAction(viewServiceDatas.primaryKey, 'dislike')">
														<i class="fa-regular fa-thumbs-down"
															style="font-size: 16px;"></i>
													</button>
													<button type="button" class="btn" title="Edit Service "
														ng-click="updateServiceRecord(viewServiceDatas.primaryKey)">
														<i class="fa-regular fa-pen-to-square"
															style="font-size: 16px;"></i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div class="modal fade" id="addServiceName" tabindex="-1" aria-labelledby="addServiceNameLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="addServiceNameLabel">
						{{ isEdit ? 'Update Service Name' : 'Add Service Name' }}
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ng-click="clearForm()"></button>
				</div>

				<div class="modal-body">
					<form name="myServiceNameForm" ng-submit="submitServiceName()">

						<input type="hidden" ng-model="serviceId" />

						<div class="row">
							<!-- Upload Image -->
							<div class="col-md-6">
								<div class="mb-3">
									<label>Upload Image</label>
									<input type="file" class="form-control" file-input="service.imageFile"
										onchange="angular.element(this).scope().previewImage(this)" accept="image/*"
										ng-required="!isEdit || !imageSrc" />
									<div class="text-danger" ng-show="!service.imageFile && (!imageSrc || !isEdit)">
										Image is required.
									</div>
								</div>
							</div>

							<!-- Image Preview -->
							<div class="col-md-6" >
								<div class="mb-3" ng-if="imageSrc">
									<label>Image Preview:</label><br />
									<img ng-src="{{imageSrc}}" alt="Image Preview"
										style="max-width: 100%; max-height: 200px;" />
								</div>
							</div>
						</div>

						<div class="row">
							<!-- Service Name -->
							<div class="col-md-6">
								<div class="mb-3">
									<input type="text" class="form-control" name="serviceName" ng-model="serviceName"
										placeholder="Enter the Service Name" required />
									<div ng-show="myServiceNameForm.serviceName.$touched && myServiceNameForm.serviceName.$error.required"
										class="text-danger">
										Service Name is required.
									</div>
								</div>
							</div>

							<!-- Buttons -->
							<div class="col-md-12">
								<button type="submit" class="btn btn-success">
									{{ isEdit ? 'Update' : 'Add' }}
								</button>
								<button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="clearForm()">Cancel</button>
							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
	</div>


	<div ui-view></div> <!-- This is where viewPlans.html will load -->


</body>

</html>